<div id="signup">
  <div class="container">
    <div class="left-side">
      <h2>Registrate en <span>CartoLogger</span> </h2>
    </div>
    
    <div class="right-side">
      <div class="form-container">
        <h2>Sign up</h2>
    
        <form id=signup-form class="signup-box">
          <input type="text" name="username" placeholder="Username" required>
          <input type="email" name="email" placeholder="Email" required>
          <div class="password-field">
            <input type="password" name="password" placeholder="Password" required>
          </div>
          <button type="submit" form="signup-form" class="signup">Signup</button>
        </form>

        <p class="login-text">Ya tienes cuenta? <a href="#/login">Log in</a></p>
      </div>
    </div>
  </div>
</div>

